.aboutImg {
    width: 100%;
}

.aboutImg img {
    display: inline;
}

.aboutWrapper {
    background-color: rgb(63, 63, 63);
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    border-bottom: 8px solid black;
}

.aboutHover {
    opacity: .5;
}

.aboutHover:hover {
    opacity: .9;
}

.quote {
    position: absolute;
    top: 1em;
    width: 80%;
    text-align: center;
}

.quote3, .quote1 {
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
    font-weight: 550;
    letter-spacing: .25em;
}

.quote1 p {
    color: #e1a811;
    line-height: 1.25em;
    font-size: 2.25em;
    margin-left: 5%;
    font-family: 'Delius', cursive;
    padding-bottom: .5em;
    padding-left:.5em;
    padding-top:.5em;
}

.quote2 p {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 3em;
    line-height: 2em;
}

.quote3 p {
    font-size: 2.15em;
    line-height: 1.35em;
    padding-top:1em;
    font-family: 'Courgette', cursive;
    color: #e1a811;
}

.quote1 :last-child {
    font-size: 2.25em;
}

.quote2 p:last-child {
    font-size: 4.5em;
}

.quote3 p:last-child {
    font-size: 2.5em;
}

.quote p {
    margin-left: 15%
}

.aboutImgWrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 4px solid black;
}

.aboutTextNav {
    text-align: center;
    background-image: url("../img/banner.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: .5em;
    padding-bottom: 2.7em;
}

.aboutTextNav button {
    background: none;
    border: none;
    font-size: 2em;
    padding: 1em;
    font-family: 'Pirata One', cursive;
}

.aboutTextNav button:hover {
    background: none;
    border: none;
    color: #e1a811
}

.aboutTextNav button:focus {
    background: none;
    border: none;
    color: #e1a811;
    border-color: #eae5d4;
}

.aboutNav {
    margin: 0;
    position: absolute;
    bottom: 0%;
    top: 0%;
    right: 90%;
    font-size: 2em;
    text-align: center;
    width: 100%;
    display: in;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #eae5d425;
    transform: rotate(90deg);
    -webkit-box-shadow: 9px 1px 13px 12px rgba(0, 0, 0, 0.58);
    box-shadow: 9px 1px 13px 12px rgba(0, 0, 0, 0.58);
}

.aboutNav:hover {
    background-color: #161512b7;
    -webkit-box-shadow: 9px 1px 13px 12px rgba(0, 0, 0, 0.83);
    box-shadow: 9px 1px 13px 12px rgba(0, 0, 0, 0.83);
}

.aboutNavBtn {
    padding: .75em 1em;
    color: #eae5d4;
    text-decoration: none;
}

.aboutNavBtn:hover {
    color: #e1a811
}

.aboutText {
    background-image: url("../img/vintage-concrete.png");
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
}

.devList {
    text-indent: 1em;
    list-style-type: square;
}

.devList li {
    padding: .5em;
}

.devList li::first-letter {
    font-family: 'Pirata One', cursive;
    font-size: 1.5em;
}

.aboutSwitch2, .aboutSwitch3 {
    display: none;
}

.aboutLeftWrapper {
    position: relative;
    width: 66%;
    margin-left: 15%;
}

.aboutHead {
    font-size: 3em;
    padding-top: .5em;
    padding-bottom: .23em;
    /* font-family: 'Rye', cursive; */
    font-family: 'Pirata One', cursive;
}

.aboutMeText {
    font-size: 1.5em;
    line-height: 1.5em;
    height: 30vw;
    overflow: auto;
    padding-right: 1em;
    position: relative;
}

.aboutMeText p {
    padding-top: 1em;
}

.aboutMeText p::first-letter {
    font-family: 'Pirata One', cursive;
    font-size: 1.75em;
    color: #e1a811;
}

.selfImage {
    width: 225px;
    border-radius: 100%;
    float: left;
    shape-outside: circle();
    margin-top: 1em;
    margin-right: 1.5em;
    margin-left: -2em;
    margin-bottom: 1em;
    border: 5px solid black;
}

.skillsList:first-line {
    font-family: 'Pirata One', cursive;
}

.skillsList li {
    margin-left: 1em;
}

.iconBar i {
    display: inline;
    font-size: 2em;
    padding: .5em;
}

.iconBar {
    margin-top: 1em;
}

.aboutMeText::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-button {
    width: 6px;
    height: 6px;
}

.aboutMeText::-webkit-scrollbar-thumb {
    background: #f0c336;
    border: 2px outset #e1a811;
    border-radius: 58px;
}

.aboutMeText::-webkit-scrollbar-thumb:hover {
    background: #f0c336;
}

.aboutMeText::-webkit-scrollbar-thumb:active {
    background: #3c650b;
}

.aboutMeText::-webkit-scrollbar-track {
    background: #404d2a;
    border: 0px inset #303920;
    border-radius: 50px;
}

.aboutMeText::-webkit-scrollbar-track:hover {
    background: #3c650b;
}

.aboutMeText::-webkit-scrollbar-track:active {
    background: #ffc336;
}

.aboutMeText::-webkit-scrollbar-corner {
    background: transparent;
}

@media only screen and (max-width: 1698px) {
    .aboutHead {
        padding-top: 0;
    }
    .aboutMeText {
        height: 32vw;
    }
}

@media only screen and (max-width: 1460px) {
    .aboutMeText {
        height: 31vw;
    }
    .aboutHead {
        font-size: 2.5em;
    }
    .aboutTextNav button {
        font-size: 1.5em;
        padding: 1em .5em 1em .5em;
        text-align: center;
    }
    
}

@media only screen and (max-width: 1225px) {
    .quote2 p {
        font-size: 2.5em;
        line-height: 1.5em;
    }
    .quote2 p:last-child {
        font-size: 3.5em;
    }
    .quote3 p {
        font-size: 2em;
        line-height: 1.35em;
        padding-top:1em;       
    }
    .aboutMeText {
        height: 30vw;
    }
    .selfImage {
        width: 200px;
    }
    .aboutLeftWrapper {
        width: 80%;
    }
    .iconBar i {
        font-size: 1.5em;
        padding: .5em;
    }
    .aboutNav {
        font-size: 1.75em;
    }
}

@media only screen and (max-width: 1049px) {
    .quote1 p {
        line-height: 1.15em;
        font-size: 1.75em;       
        padding-bottom: .25em;
        padding-left:2.5em;
     
    }
    .quote3 p {
        font-size: 1.75em;
        line-height: 1.15em;
        padding-top:1em;        
    }
    .quote3 p:last-child {
        font-size: 2.15em;
    }
    .aboutMeText {
        height: 28vw;
    }
    .aboutTextNav button {
        font-size: 1.25em;
        padding: 1em .5em 1em .5em;
        text-align: center;
    }
    .aboutHead {
        font-size: 2.25em;
    }
    .aboutMeText p::first-letter {
        font-size: 1.5em;
    }
    .selfImage {
        width: 175px;
    }
    .aboutNav {
        font-size: 1.5em;
    }
    .iconBar i {
        font-size: 1.40em;
        padding: .5em;
    }
}

@media only screen and (max-width: 949px) {
    .quote{
        width: 90%;
    }
    .quote1 p {
        line-height: 1.15em;
        font-size: 1.25em; 
        padding-left:2em;     
    }
    .quote1 :last-child {
        font-size: 1.5em;
    }
    .quote2 p {
        font-size: 2.25em;
        line-height: 1.25em;
        padding-left: 1em;
    }
    .quote2 p:last-child {
        font-size: 3.25em;
    }
    .quote3 p {
        font-size: 1.5em;
        line-height: 1.15em;
        padding-top:1em;        
    }
    .quote3 p:last-child {
        font-size: 1.7em;
    }
    .aboutTextNav button {
        font-size: 1.15em;
        padding: .5em .25em 1.5em .25em;
        text-align: center;
    }
    .aboutTextNav {
        padding-bottom: .25em;
        ;
    }
    .aboutHead {
        font-size: 2em;
    }
    .aboutMeText {
        font-size: 1.25em;
        height: 30vw;
    }
    .selfImage {
        width: 150px;
    }
    .aboutNav {
        font-size: 1.25em;
    }
    .iconBar i {
        font-size: 1.25em;
        padding: 1em .5em;
    }
}

@media only screen and (max-width: 749px) {
    .aboutWrapper {
        display: block;
        margin-bottom: 0;
        padding-bottom: 1em;
    }
    .aboutImgM {
        width: 100%
    }
    .aboutMeText {
        height: 100%;
    }
}