footer{
    position: relative;
}
footer img{
    width:100%;
    opacity: .85;
    background-color: white
}

.footQuoteL1,
.footQuoteL2{
    position: absolute;    
    width: 100%;
}
.footQuoteL1{
    font-size:3em;
    text-align: center;
    top:33%;
}

.footQuoteL2{
    position: absolute;
    font-size:2em;
    top:66%;
    right:4em;
    text-align: right;
    /* display: none; */
}

.footQuoteL1:hover{
    display: none;
}




