.intro {
    min-height: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.introHead {
    position: relative;
}

.name {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
}

.title {
    position: absolute;
    top: 190px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size:4em;
}
.introNav{    
    position: absolute;
    left:50px;
    top:325px;
}
.introNav a{
    display: block;
    font-size:2.5em;
    padding:.5em;
    text-decoration: none;

}

@media only screen and (max-width: 1460px){
    .title{
        font-size: 3em;
    }
  }
  @media only screen and (max-width: 1225px){
    .introNav{       
        left:50px;
        bottom:4em;
    }
    .introNav a{        
        font-size:2em;     
     }
  }
  @media only screen and (max-width: 1049px){
    .introNav{            
        left:50px;
        bottom:5em;
    }
    .introNav a{     
        font-size:1.5em;     
     }
     .title{
        font-size: 2.5em;
    }
  }
  @media only screen and (max-width: 949px){
    .introNav a{     
        font-size:1.5em;
        display: inline;
    }
    .introNav{
        text-align: center;
        left:0;
        width: 100%;             
     }
     .title{
        font-size: 1.75em;
    }
    
  }