
body{
  font-size: 16px;
  /* position: relative; */
  height: 100vh;
  overflow: auto;
  background-color: #94BA8C;
}

.section-wrapper{
  min-height: 100vh;
  overflow:auto;
  scroll-behavior: auto;
  position: initial;
}



h2,h3,h4{
  color: #0C8346;
}

h2,h3,h4,h5,.section-nav{
  font-family: 'Didact Gothic', sans-serif;
}

button,label,input,textarea,p,li,a{
  font-family: 'Lato', sans-serif;
  font-size:1.25rem;
  color: #0c0920;
}

/* makes first letter bigger */




footer{
  background-color: lightslategrey;
}
